name: CCCPM release deployment on PyPI

on:
  release:
    types: [published]

jobs:
  deploy:
    name: Build and publish project to PyPI
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Set up Python 3.10.8
        uses: actions/setup-python@v5
        with:
          python-version: 3.10.8
      
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: '1.7.1'
          virtualenvs-create: true
          virtualenvs-in-project: true
      
      - name: Cache Poetry virtualenv
        uses: actions/cache@v3
        id: cache
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ hashFiles('pyproject.toml', 'poetry.lock') }}
      
      - name: Install dependencies
        run: poetry install --no-interaction --no-ansi
      
      - name: Build package
        run: poetry build
      
      - name: Verify package
        run: |
          ls dist/
          twine check dist/*
      
      - name: Publish to PyPI
        run: poetry publish
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_API_TOKEN }}
